In [3]:
import os
import sys
import uvicorn
from pathlib import Path
from db import get_connection, close_connection
from base_api import get_api_instance

def insert_data(id: str="test_id", password: str="test_pwd"):
    connection = get_connection()
    try:
        with connection.cursor() as cursor:
            sql = "INSERT INTO users (id, password) VALUES (%s, %s)"
            cursor.execute(sql, (id, password))
        connection.commit()
    finally:
        close_connection(connection)

# markets = ["binance", "okx", "bingx", "bitget"]
# symbols = ["BTCUSDT", "ETHUSDT"]  # Example symbols
# intervals = ["1d", "30m"]   # Example intervals
# start_time='2023-12-01'
# end_time='2024-08-17'
market = "binance"
symbol = "BTCUSDT"
start_time='2023-12-01'
end_time='2024-08-17'
interval = "1d"

api = get_api_instance(market)

df = api.get_ohlc_data(symbol=symbol, interval=interval, start_time=start_time, end_time=end_time)
# data = api.load_data(symbol, interval)
# if data is None:
#     # api.save_data(df, symbol, interval, start_time, end_time)
#     # print(f"Saved data for {market} - {symbol} - {interval}")
# else:
#     print(f"Data already exists for {market} - {symbol} - {interval}")
# # load_data(market="binance", symbol="BTCUSDT", interval=interval, start_time=start_time, end_time=end_time)

In [4]:
df

,datetime,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2023-12-01,37723.97000000,38999.00000000,37615.86000000,38682.52000000,43415.66324000,1701475199999,1669750777.62398140,1523417,22408.27301000,861977420.16319520,0
1,2023-12-02,38682.51000000,39717.14000000,38641.61000000,39450.35000000,26696.92161000,1701561599999,1043421976.76606520,1034690,13166.65386000,514763687.57460090,0
2,2023-12-03,39450.35000000,40250.00000000,39274.86000000,39972.26000000,26710.65335000,1701647999999,1059860641.04944440,1151524,13333.29632000,529259227.16750920,0
3,2023-12-04,39972.26000000,42420.00000000,39972.26000000,41991.10000000,79272.33059000,1701734399999,3285736844.14088080,2112219,38595.61905000,1599710862.08717670,0
4,2023-12-05,41991.10000000,44488.00000000,41414.00000000,44073.32000000,67490.74644000,1701820799999,2890205389.49012660,2072700,34815.80813000,1491813847.23896810,0
...,...,...,...,...,...,...,...,...,...,...,...,...
255,2024-08-12,58712.59000000,60711.09000000,57642.21000000,59346.64000000,37009.91743000,1723507199999,2186851067.31658610,2293837,18279.26596000,1080368631.14278460,0
256,2024-08-13,59346.64000000,61578.10000000,58392.88000000,60587.15000000,27858.95851000,1723593599999,1668247896.84771860,1713485,13647.22341000,817397824.22938570,0
257,2024-08-14,60587.16000000,61800.00000000,58433.18000000,58683.39000000,28422.76326000,1723679999999,1705464263.50586500,1729342,13263.89620000,796386901.36411660,0
258,2024-08-15,58683.39000000,59849.38000000,56078.54000000,57541.06000000,37686.17622000,1723766399999,2194915865.05222870,2507858,17255.22311000,1005337423.72642390,0
259,2024-08-16,57541.05000000,59817.76000000,57098.62000000,58874.60000000,27610.84344000,1723852799999,1614654900.33327160,1999539,13963.51824000,816740633.54544620,0

In [4]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-17.0.0-cp310-cp310-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: numpy>=1.16.6 in d:\projects\crpyto_mlops\.venv\lib\site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-17.0.0-cp310-cp310-win_amd64.whl (25.1 MB)
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   ---------------------- ----------------- 14.2/25.1 MB 80.8 MB/s eta 0:00:01
   ---------------------------------------  24.9/25.1 MB 68.4 MB/s eta 0:00:01
   ---------------------------------------- 25.1/25.1 MB 59.0 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-17.0.0
Note: you may need to restart the kernel to use updated packages.