In [1]:
import sys
from sqlalchemy import text
import json
from sqlalchemy import create_engine

In [14]:
host="melachallengedatabase.crlafpfc5g5y.us-east-1.rds.amazonaws.com"
db="changdb"
port="5432"
user="changuser"
passw = "changpass"

In [15]:
# engine = create_engine(f'postgresql://{user}@{host}/{db}')
engine = create_engine(f'postgresql+psycopg2://{user}:{passw}@{host}:{port}/{db}')

In [12]:
def get_connection():
    engine = create_engine(f'postgresql+psycopg2://{user}:{passw}@{host}:{port}/{db}')
    return engine

### Queries

### Show tables

```SQL
SELECT *
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
```

### Create table

```SQL
CREATE TABLE t1(
   id INT GENERATED ALWAYS AS IDENTITY,
   c2 VARCHAR(255) NOT NULL,
   PRIMARY KEY(id)
);
```
### Reference Table

```SQL
CREATE TABLE t2(
   id INT GENERATED ALWAYS AS IDENTITY,
   t1_id INT,
   c3 VARCHAR(255) NOT NULL,
   c4 VARCHAR(15),
   PRIMARY KEY(id),
   CONSTRAINT fk_t1
      FOREIGN KEY(t1_id) 
	  REFERENCES t1(id)
);
```

### select values

```SQL
SELECT select_list
FROM table_name
WHERE condition
ORDER BY sort_expression
```

### insert values

```SQL
INSERT INTO table_name(column1, column2, …)
VALUES (value1, value2, …);
```

In [16]:
query = """
        SELECT *
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;
"""
with engine.connect() as conn:
                
        # query = text("Show table")
        a=conn.execute(query)
        print(a.fetchall())

[]

In [21]:
# query = """
# CREATE TABLE t1(
#    id INT GENERATED ALWAYS AS IDENTITY,
#    c2 VARCHAR(255) NOT NULL,
#    PRIMARY KEY(id)
# );
        
# """
# with engine.connect() as conn:
                
#         # query = text("Show table")
#         a=conn.execute(query)
#         print(a.columns)